parameters:
    level: 8
    paths:
      - src
    excludePaths:
      - */tests/*
    fileExtensions:
      - php
    symfony:
      container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
    reportUnmatchedIgnoredErrors: false
includes:
  - vendor/phpstan/phpstan-symfony/extension.neon
  - vendor/phpstan/phpstan-symfony/rules.neon
